html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background: linear-gradient(#041404, #020302);
    height: 100%;
}

#header {
    height: 120px; /* Add a fixed height for the header */
    margin-top: 30px;
    color: #1bd11b;
    font-family: 'Press Start 2P', sans-serif;
    text-align: center;
}

.body1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100% - 50px); 
}
.mode{
    margin-left: 40px;
    white-space: nowrap;
    align-items: center;
    justify-content: space-between;

}
.checkbox-group {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 20px;
}
.text {
    display: inline-block;
    margin-right: 10px;
    font-family: 'Press Start 2P',sans-serif;
    color: #1bd11b;
    margin-right: 60px ;
}
.mode #tm{
    margin-left: 50px;
}
.sel{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 25px;
    height: 25px;
    border: 2px solid #1bd11b;
    border-radius: 4px;
    outline: none;
    position:relative;
    cursor:pointer;
}

.sel:checked {
    background-color: #1bd11b;
  }
  .input {
    width: 100%;
}

.output {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
}

#inputbox{ 
    font-size: smaller;
    width: 700px;
    height: 150px;
    padding: 10px;
    resize: none;
    margin:10px;
    background-color: transparent;
    border-radius: 3px ;
    font-family: 'Press Start 2P',sans-serif;
    border: 2px solid #1bd11b;
    color:#1bd11b;
}
#outputbox{ 
    width: 700px;
    height: 350px;
    padding: 10px;
    margin:10px;
    background-color: transparent;
    border-radius: 3px ;
    font-family: 'Press Start 2P',sans-serif;
    border: 2px solid #1bd11b;
    color:#1bd11b;
    font-size: small;
    cursor: default;
    resize: horizontal;
}

.copy{
    position: absolute;
    left:50%;
    top: 98%;
    transform: translate(-50%, -50%);
}
.copyright{
    text-align: center;
    color: #1bd11b;
    font-family: 'Press Start 2P',sans-serif;
    font-size: 0.6rem;
}

@media (max-width: 414px) and (max-height: 896px) {
    #header {
        position: absolute;
        top: -1%;
        font-size: 12px;
        margin-bottom: 100px;
        color: #1bd11b;
        font-family: 'Press Start 2P', sans-serif;
        text-align: center;
    }

    .mode {
        position: absolute;
        left: 55%;
        top: 20%;
        transform: translate(-50%, -50%);
        font-size: 10px;
    }

    .container {
        position: absolute;
        top: 30%;
    }

    #inputbox {
        width: 300px; 
        font-size: 7px;
    }

    #outputbox {
        width: 300px; 
        height: 200px;
        margin-top: 20px;
        font-size: 7px;
    }

    .mode #tm {
        margin-left: 5px;
    }

    .mode {
        margin-left: 27px;
    }

    .copyright {
        position: absolute;
        font-size: 0.4rem;
        padding: 1px;
        white-space: nowrap;
        top: 98%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .checkbox-group {
        display:block;
        align-items: center;
        margin-right: 10px;
        margin-bottom: 10px;
    }

}
